<%- include("header") -%>

<h2>This project was made on January 2023 by Dhirendra Singh</h2>
<p>
  He is Currently learning programming and development parallely.
  He aims to complete DSA in Java and  Development by the end of his Second Year of Engineering.
</p>



<%- include("footer") -%>
